# apps/server
# development | staging | production
APP_ENV=development
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://hagz:hagz@localhost:5432/hagz
REDIS_QUEUE_URL=redis://localhost:6379
REDIS_CACHE_URL=redis://localhost:6380
