# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo
.turbo/

# prisma
apps/server/src/generated/

# expo
.expo/
expo-env.d.ts
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env
.env
.env.*
!.env.example

# os / editors
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea/

# next
next-env.d.ts
