@import "tailwindcss";

@theme {
    --text-xxs: 0.8rem;
    --color-primary: #B3FF00;
    --color-secondary: #1E1EC7;
}

.react-grid-item.react-grid-placeholder {
    @apply bg-blue-500/40!;
}

.flex-center {
    @apply flex items-center justify-center;
}

button {
    @apply cursor-pointer;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
