@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-weight: 400;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.active {
    color: #000;
}