@import "tailwindcss";

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    border: 1px solid #1447e6;
    background: white;
    cursor: pointer;
};

input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    border: 1px solid "#1447e6";
    background: white;
    cursor: pointer;
};
